<div class="row m-5 justify-content-center">
  <div class="col f-post">
    <h1 class="text-enfasis text-center">Formulario de postulación OTIS Bolivia</h1>
    <hr>
    <form novalidate (ngSubmit)="Guardar()" [formGroup]="postulanteForm">
      <!-- Puesto -->
      <div class="form-floating mb-3">
        <select class="form-select" [class.is-invalid]="validador('puestoId')" aria-label="Default select example"
          formControlName="puestoId">
          <option [value]="item.idPuesto" *ngFor="let item of Puestos">{{ item.descripcion }}</option>
        </select>
        <label for="">Puesto a postular</label>
      </div>
      <!-- Departamento -->
      <div class="form-floating mb-3">
        <select class="form-select" [class.is-invalid]="validador('departamentoId')" aria-label="Default select example"
          formControlName="departamentoId">
          <option [value]="item.idDepartamento" *ngFor="let item of Departamentos">{{ item.descripcion }}
          </option>
        </select>
        <label for="">Departamento</label>
      </div>
      <!-- Ap Paterno -->
      <div class="form-floating mb-3">
        <input class="form-control" [class.is-invalid]="validador('primerApellido')" type="text"
          formControlName="primerApellido">
        <label for="">Apellido Paterno</label>
      </div>
      <!-- Ap Materno -->
      <div class="form-floating mb-3">
        <input class="form-control" [class.is-invalid]="validador('segundoApellido')" type="text"
          formControlName="segundoApellido">
        <label for="">Apellido Materno</label>
      </div>
      <!-- Nombre -->
      <div class="form-floating mb-3">
        <input class="form-control" [class.is-invalid]="validador('nombres')" type="text" formControlName="nombres">
        <label for="">Nombre</label>
      </div>
      <!-- Documento -->
      <div class="form-floating mb-3">
        <input class="form-control" [class.is-invalid]="validador('documentoIdentidad')" type="text"
          formControlName="documentoIdentidad">
        <label for="">Numero de Documento</label>
      </div>
      <!-- Tipo documento -->
      <div class="form-floating mb-3">
        <select class="form-select" [class.is-invalid]="validador('documentoRespaldoId')"
          aria-label="Default select example" formControlName="documentoRespaldoId">
          <option [value]="item.tipodocCodigo" *ngFor="let item of TipoDocumentos">{{ item.tipodocDescripcion
            }}</option>
        </select>
        <label for="">Tipo de Documento</label>
      </div>
      <!-- Fecha nacimiento -->
      <div class="form-floating mb-3">
        <input class="form-control" [class.is-invalid]="validador('fechaNacimiento')" type="date"
          formControlName="fechaNacimiento">
        <label for="">Fecha de nacimiento</label>
      </div>
      <!-- Pais -->
      <!-- <div class="form-floating mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="">Pais</label>
            </div> -->
      <!-- Genero -->
      <div class="form-floating mb-3">
        <select class="form-select" [class.is-invalid]="validador('generoId')" aria-label="Default select example"
          formControlName="generoId">
          <option [value]="item.idGenero" *ngFor="let item of Generos">{{ item.descripcion }}</option>
        </select>
        <label for="">Genero</label>
      </div>
      <!-- Estado Civil -->
      <div class="form-floating mb-3">
        <select class="form-select" [class.is-invalid]="validador('estadoCivilId')" aria-label="Default select example"
          formControlName="estadoCivilId">
          <option [value]="item.estadoCivilCodigo" *ngFor="let item of EstadoCivil">{{
            item.estadoCivilDescripcion }}</option>
        </select>
        <label for="">Estado Civil</label>
      </div>
      <!-- Telefono fijo -->
      <div class="form-floating mb-3">
        <input class="form-control" [class.is-invalid]="validador('telefonoFijo')" type="text"
          formControlName="telefonoFijo">
        <label for="">Telefono fijo</label>
      </div>
      <!-- Telefono celular -->
      <div class="form-floating mb-3">
        <input class="form-control" [class.is-invalid]="validador('telefonoCelular')" type="text"
          formControlName="telefonoCelular">
        <label for="">Celular</label>
      </div>
      <!-- Email-->
      <div class="form-floating mb-3">
        <input class="form-control" [class.is-invalid]="validador('emailPersonal')" type="email"
          formControlName="emailPersonal">
        <label for="">Email</label>
      </div>
      <!-- Domicilio -->
      <div class="form-floating mb-3">
        <textarea class="form-control" [class.is-invalid]="validador('domicilioLegal')" type="text"
          formControlName="domicilioLegal"></textarea>
        <label for="">Domicilio</label>
      </div>
      <!-- Licencia de conducir -->
      <div class="form-check mb-3">
        <input class="form-check-input" [class.is-invalid]="validador('licenciaConducir')" type="checkbox"
          formControlName="licenciaConducir">
        <label for="" class="form-check-label">¿Tiene licencia de conducir?</label>
      </div>
      <!-- Licencia de conducir -->
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" formControlName="licenciaMotocicleta">
        <label class="form-check-label">¿Tiene licencia de moto?</label>
      </div>
      <!-- Foto -->
      <div class="mb-3">
        <label class="form-label"><strong>Cargar foto</strong></label>
        <input class="form-control" type="file" name="archivoFoto" id="archivoFoto" (change)="selectFile($event)" accept="image/png, image/jpeg, image/jpg">
        <p *ngIf="process">Cargando...</p>
        <p *ngIf="inProgress && process"> Progreso <strong>{{ progressPercent }} % </strong></p>
        <p *ngIf="isCharged">Foto cargada</p>
        <p>*Solo se permiten archivos con extension .png, .jpeg, .jpg</p>
        <input type="text" formControlName="rutaFoto" hidden>
      </div>
      <!-- Documento -->
      <div class="form-floating mb-3">
        <input class="form-control" [class.is-invalid]="validador('pretensionSalarial')" type="number" min="1"
          formControlName="pretensionSalarial">
        <label for="">Pretension salarial en Bs</label>
      </div>
      <!-- Estudios[] P -->
      <div class="row p-3">
        <div class="col">
          <h3>Educación Primaria</h3>
          <p>Ingrese información acerca de su educación primaria.</p>
          <div class="gap-3" formArrayName="estudiosRealizadosP">
            <div *ngFor="let est of gEstudiosP.controls; let i = index" class="card mb-3">
              <div class="card-body" [formGroupName]="i">
                <h5 class="card-title"># {{ i + 1 }}</h5>
                <input type="hidden" formControlName="tipo">
                <input type="hidden" formControlName="tituloObtenido">
                <input type="hidden" formControlName="nivelEducativoId">
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('centroEducativo')" type="text"
                    formControlName="centroEducativo">
                  <label for="">Institucion educativa</label>
                </div>
                <!-- <div class="form-floating mb-3">
                                    <input class="form-control" type="text" formControlName="tituloObtenido">
                                    <label for="">Titulo obtenido</label>
                                </div> -->
                <!-- <div class="form-floating mb-3">
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="nivelEducativoId">
                                        <option [value]="item.nivelEducCodigo" *ngFor="let item of NEducaciones">{{ item.nivelEducDescripcion }}</option>
                                    </select>
                                    <label for="">Nivel de estudio</label>
                                </div> -->
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('ciudad')" type="text"
                    formControlName="ciudad">
                  <label for="">Ciudad</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('fechaInicio')" type="date"
                    formControlName="fechaInicio">
                  <label for="">Fecha de inicio</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('fechaFinalizacion')" type="date"
                    formControlName="fechaFinalizacion">
                  <label for="">Fecha de finalizacion</label>
                </div>
                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" formControlName="estudiandoActualmente">
                  <label class="form-check-label">¿Esta en estudio actualmente?</label>
                </div>
                <button type="button" class="btn btn-danger" (click)="delEducacion(i, 1)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-dark" type="button" (click)="addEducacion(1)">+ Agregar Educacion
            Primaria</button>
        </div>
      </div>
      <!-- Estudios[] S -->
      <div class="row p-3">
        <div class="col">
          <h3>Educación Secundaria</h3>
          <p>Ingrese información acerca de su educación secundaria.</p>
          <div class="gap-3" formArrayName="estudiosRealizadosS">
            <div *ngFor="let est of gEstudiosS.controls; let i = index" class="card mb-3">
              <div class="card-body" [formGroupName]="i">
                <h5 class="card-title"># {{ i + 1 }}</h5>
                <input type="hidden" formControlName="tipo">
                <input type="hidden" formControlName="tituloObtenido">
                <input type="hidden" formControlName="nivelEducativoId">
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('centroEducativo')" type="text"
                    formControlName="centroEducativo">
                  <label for="">Institucion educativa</label>
                </div>
                <!-- <div class="form-floating mb-3">
                                    <input class="form-control" type="text" formControlName="tituloObtenido">
                                    <label for="">Titulo obtenido</label>
                                </div> -->
                <!-- <div class="form-floating mb-3">
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="nivelEducativoId">
                                        <option [value]="item.nivelEducCodigo" *ngFor="let item of NEducaciones">{{ item.nivelEducDescripcion }}</option>
                                    </select>
                                    <label for="">Nivel de estudio</label>
                                </div> -->
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('ciudad')" type="text"
                    formControlName="ciudad">
                  <label for="">Ciudad</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('fechaInicio')" type="date"
                    formControlName="fechaInicio">
                  <label for="">Fecha de inicio</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('fechaFinalizacion')" type="date"
                    formControlName="fechaFinalizacion">
                  <label for="">Fecha de finalizacion</label>
                </div>
                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" formControlName="estudiandoActualmente">
                  <label class="form-check-label">¿Esta en estudio actualmente?</label>
                </div>
                <button type="button" class="btn btn-danger" (click)="delEducacion(i, 2)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-dark" type="button" (click)="addEducacion(2)">+ Agregar Educacion
            Secundaria</button>
        </div>
      </div>
      <!-- Estudios[] O -->
      <div class="row p-3">
        <div class="col">
          <h3>Educación Universitaria, Técnica, Cursos, Postgrados y Seminarios</h3>
          <p>Ingrese información acerca de su educación superior.</p>
          <div class="gap-3" formArrayName="estudiosRealizadosO">
            <div *ngFor="let est of gEstudiosO.controls; let i = index" class="card mb-3">
              <div class="card-body" [formGroupName]="i">
                <h5 class="card-title"># {{ i + 1 }}</h5>
                <input type="hidden" formControlName="tipo">
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('centroEducativo')" type="text"
                    formControlName="centroEducativo">
                  <label for="">Institucion educativa</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('tituloObtenido')" type="text"
                    formControlName="tituloObtenido">
                  <label for="">Titulo obtenido</label>
                </div>
                <div class="form-floating mb-3">
                  <select class="form-select" [class.is-invalid]="validador('nivelEducativoId')"
                    aria-label="Default select example" formControlName="nivelEducativoId">
                    <option [value]="item.nivelEducCodigo" *ngFor="let item of NEducaciones">{{
                      item.nivelEducDescripcion }}</option>
                  </select>
                  <label for="">Nivel de estudio</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('ciudad')" type="text"
                    formControlName="ciudad">
                  <label for="">Ciudad</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('fechaInicio')" type="date"
                    formControlName="fechaInicio">
                  <label for="">Fecha de inicio</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('fechaFinalizacion')" type="date"
                    formControlName="fechaFinalizacion">
                  <label for="">Fecha de finalizacion</label>
                </div>
                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" formControlName="estudiandoActualmente">
                  <label class="form-check-label">¿Esta en estudio actualmente?</label>
                </div>
                <button type="button" class="btn btn-danger" (click)="delEducacion(i, 3)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-dark" type="button" (click)="addEducacion(3)">+ Agregar Educacion
            Superior</button>
        </div>
      </div>
      <!-- Experiencia[] -->
      <div class="row p-3">
        <div class="col">
          <h3>Experiencia Laboral</h3>
          <p>Ingrese informacion acerca de su experiencia laboral.</p>
          <div class="gap-3" formArrayName="experienciasLaborales">
            <div *ngFor="let career of gExperiencias.controls; let j = index" class="card mb-3">
              <div class="card-body" [formGroupName]="j">
                <h5 class="card-title"># {{ j + 1 }}</h5>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('centroEducativo')" type="text"
                    formControlName="nombreInstitucion">
                  <label for="">Nombre de la institucion</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('cargo')" type="text"
                    formControlName="cargo">
                  <label for="">Cargo</label>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control" [class.is-invalid]="validador('funcionGeneral')" type="text"
                    formControlName="funcionGeneral"></textarea>
                  <label for="">Funcion general</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('ciudad')" type="text"
                    formControlName="ciudad">
                  <label for="">Ciudad</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('fechaInicio')" type="date"
                    formControlName="fechaInicio">
                  <label for="">Fecha de inicio</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('fechaFinalizacion')" type="date"
                    formControlName="fechaFinalizacion">
                  <label for="">Fecha de finalizacion</label>
                </div>
                <button type="button" class="btn btn-danger" (click)="delExperiencia(j)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-dark" type="button" (click)="addExperiencia()">+ Agregar Experiencia
            Laboral</button>
        </div>
      </div>
      <!-- habilidades[] -->
      <div class="row p-3">
        <div class="col">
          <h3>Habilidades</h3>
          <p>Aquí puedes agregar conocimientos especificos como ser paquetes de software (Microsoft Office) o algun otro tipo de experiencia relevante que no se muestre en tu formación academica y profesional.</p>
          <div formArrayName="habilidades">
            <div *ngFor="let career of gHabilidades.controls; let k = index" class="card mb-3">
              <div class="card-body" [formGroupName]="k">
                <h5 class="card-title"># {{ k + 1 }}</h5>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('descripcion')" type="text"
                    formControlName="descripcion">
                  <label for="">Habilidad</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('tiempo')" type="number"
                    formControlName="tiempo">
                  <label for="">Tiempo</label>
                </div>
                <div class="form-floating mb-3">
                  <select class="form-select" [class.is-invalid]="validador('unidadMedidaId')"
                    aria-label="Default select example" formControlName="unidadMedidaId">
                    <option [value]="item.idUnidadMedida" *ngFor="let item of UnidadMedidas">{{
                      item.descripcion }}</option>
                  </select>
                  <label for="">Unidad de tiempo</label>
                </div>
                <button type="button" class="btn btn-danger" (click)="delHabilidad(k)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-dark" type="button" (click)="addHabilidad()">+ Agregar habilidad</button>
        </div>
      </div>
      <!-- Idioma[] -->
      <div class="row p-3">
        <div class="col">
          <h3>Idioma</h3>
          <p>Ingrese información acerca de los idiomas que posee competencia: ingles, aymara, etc.</p>
          <div formArrayName="idiomas">
            <div *ngFor="let career of gIdiomas.controls; let l = index" class="card mb-3">
              <div class="card-body" [formGroupName]="l">
                <h5 class="card-title"># {{ l + 1 }}</h5>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('idiomaDescripcion')" type="text"
                    formControlName="idiomaDescripcion">
                  <label for="">Idioma</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('nivelEscrito')" type="text"
                    formControlName="nivelEscrito">
                  <label for="">Nivel Escrito</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('nivelOral')" type="text"
                    formControlName="nivelOral">
                  <label for="">Nivel Oral</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" [class.is-invalid]="validador('nivelLectura')" type="text"
                    formControlName="nivelLectura">
                  <label for="">Nivel de Lectura</label>
                </div>
                <button type="button" class="btn btn-danger" (click)="delIdioma(l)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-dark" type="button" (click)="addIdioma()">+ Agregar idioma</button>
        </div>
      </div>
      <!-- Boton -->
      <div class="row mb-3 p-3">
        <div class="col">
          <div class="d-grid gap-2">
            <button class="btn btn-success active" type="submit">Enviar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="row">
    <pre>
      JSON: {{ postulanteForm.value | json }}
    </pre>
  </div> -->
</div>
